html,
body {
    height: 100%;
    width: 100%;
}

.wrap{
    height: 100%;
    width: 100%;
}

.header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn {
    text-decoration: none;
    font-size: 20px;
    background-color: #fb5533;
    cursor: pointer;
    text-align: center;
    color: white;
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-radius: 3px;
}

.btn:hover{
    background-color: #fb6445;
}

.btn.btn-sm{
    height: 38px;
    line-height: normal;
    font-size: 18px;
    border: none;
    background-color: #fb3333;
    margin-right: 35px;
}